{% extends "base.html" %}


{% block content %}
    <div class="main-content">
        <div class="favorites-header">Your Favorite Recipes</div>
        <div class="favorites-grid">
            {% for index,row in favs.iterrows() %}
            <div class="favorite-card">
                <img src="{{row['images']}}" alt="{{row['RecipeName']}}">
                <h3>{{row['RecipeName']}}</h3>
                <p>{{row['Cuisine']}} • {{row['Diet']}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>

{% endblock %}